

<div class="card">
    <div class="card-body">
        
<div class="class" *ngIf="isLoginMode">
    <label class="Benvenuto" >Benvenuto {{nome}}</label>
    <div class="spacer"></div>
    <label class="trova" >Trova l'hotel giusto per te</label>
    <div class="spacer"></div>
    <label class="text" for="cityInput">Dove vuoi andare ?</label>
    <div class="spacer1"></div>
    <input type="text" class="inputCity" id="city" name="city" placeholder="Es. Napoli" [(ngModel)]="city" required>
    <div class="spacer1"></div>
    <button type="button" (click)="onClick()">Cerca</button>
    
</div>

<div class="class" *ngIf="!isLoginMode">
    <label class="trova" >Trova l'hotel giusto per te</label>
    <div class="spacer1"></div>
    <label class="text" for="cityInput">Prima effettua l'accesso</label>
    <div class="spacer"></div>
    <button type="button" (click)="onClick()">Log In</button>
</div>
    </div>
</div>

<div id="toast" class="toast"></div>