.max-width {
  max-width: 1440px;
  margin: 0 auto;
}

.max-hight{
  max-height: 1080px;
  margin: 0 auto;
}

.navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container-fluid{
    background-image: url('https://www.nostrofiglio.it/images/2020/04/28/cartina-mondo-orig.jpg');
    background-size: 1300px;
    background-repeat: no-repeat;
}




