
  <div class="hotel-card" *ngFor="let item of hotels">
    <!-- <img src="" alt="Hotel Image" class="hotel-image"> -->
    <div class="hotel-details">
      <h2 class="hotel-name">{{item.getNome()}}</h2>
      <p class="hotel-city">{{item.getCity()}}</p>
      <button type="button" (click)="onInfo()">Info</button>

    </div>
  </div>

<div *ngIf="hotels.length==0">
  <div class="card">
    <div class="card-body">
    <div class="class">
      <label class="text" for="cityInput">Ops, la città che stai cercando non è stata trovata</label>
      <div class="spacer"></div>
      <button type="button" (click)="onClick()">Torna alla home</button>
    </div>
    </div>
  </div>  
</div>
  