
  <div class="hotel-card" *ngFor="let item of hotels">
    <!-- <img src="" alt="Hotel Image" class="hotel-image"> -->
    <div class="hotel-details">
      <h2 class="hotel-name">{{item.getNome()}}</h2>
      <p class="hotel-city">{{item.getCity()}}</p>
      <p class="hotel-address">{{item.getAddress()}}</p>
      <p class="hotel-link">{{item.getLink()}}</p>
      <button type="button">Button</button>

    </div>
  </div>

<div *ngIf="hotels.length==0">
    <label for="cityInput">Non hai inserito una città</label>
    <div class="spacer"></div>
    <button type="button" (click)="onClick()">Torna alla home</button>
</div>
  