<div *ngIf="hotels.length!=0">
  <h1>Le tue ricerche per {{city}}</h1>
</div> 
 <div *ngFor="let item of hotels">
  <div class="spacer"></div>
  <div class="cornice">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src={{item.getMain_photo_url()}}  alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <div class="spacer"></div>
          <h1>{{item.getNome()}}</h1> 
          <p>{{item.getCity()}}</p> 
          <button class="button" (click)="onInfo(item.getId())">INFO</button>
        </div>
      </div>
    </div>
  </div>
  </div> 

<div *ngIf="hotels.length==0">
  <div class="card">
    <div class="card-body">
    <div class="class">
      <label class="text" for="cityInput">Ops, la città che stai cercando non è stata trovata</label>
      <div class="spacer"></div>
      <button type="button" class="button1"  (click)="onClick()">Torna alla home</button>
    </div>
    </div>
  </div>  
</div>
  