
<div class="card">
    <div class="hotel-info">
        <h2>{{ hotel?.getHotelname() }}</h2>
        <p><strong>Address:</strong> {{hotel?.getAddress()}}, {{hotel?.getCity()}}, {{hotel?.getZip()}}</p>
        <p><strong>Country:</strong> {{hotel?.getCountry_trans()}}</p>
        <p><strong>Timezone:</strong> {{hotel?.getTimezone()}}</p>
        <p><strong>Currency:</strong> {{hotel?.getCurrency_code()}}</p>
        <p><strong>Website:</strong> <a href="{{ hotel?.getUrl() }}" target="_blank">{{ hotel?.getUrl() }}</a></p>
      </div>
</div>

  