.Name{
    background-color: white;
    text-align: center;
    font-size: 20;
}

.name{
    font-size: 40px;
    color: gold;
}

.info{
    text-align: center;
    font-size: 25px;
    color: blue;

}

.text {
    font-size: 15px;
    color: gray;
}

.spacer {
    height: 0.1px; 
}
  
.spacer1 {
    height: 30px; 
}

.card{
    background-color: rgba(255, 255, 255, 0.8);
}
  